body {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #25242c;
}

.jumbotron {
  padding-bottom: 5rem;
  background-color: #25242c;
}

h2 {
  padding: 1rem 1rem;
  background-color: #e2012d;
}

#projects {
  background-color: #25242c;
}

.card {
  background-color: #25242c;
}

.card-body {
  background-color: #e2012d;
}

.display-4 {
  background-color: #25242c;
}
